.budgets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.budget {
    padding: 4em;
}

.display-3 {
    text-align: center;
}

/* 
.btn-btn-primary {
    text-align: center;
} */

.category {
    color: blue
}

.createBudgetButton {
    text-align: center;
}

.bi-flex-shrink-0-me-2 {
    width: 2px;
    height: 1px;
}

.amount {
    color: green;
}

.custom-container {
    width: 70%; /* Adjust as needed */
    max-width: 100%; /* Adjust as needed */
    margin: 0 auto; /* Center the container if you like */
  }

  .budget-margin-bottom {
    margin-bottom: 20px;
  }

  